* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #6fa3f1, #ec8fb3, #eca7ca, #acebc8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	display: flex;
}
#mainContainer {
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: baseline;
	gap: 2ch 2ch;
}
#kotek {
	position: fixed;
	left: 18vw;
}

.nazwisko {
	position: relative;
	left: 31%;
	margin-bottom: 0.5ch;
	font-size: 18px;
	border-radius: 12px;
	padding: 0.25em 0em;
	background: rgba(256, 256, 256, 0);
	transition: all 0.5s ease-in-out;
	width: 30%;
	color: white;
	font-size: 10vw;
}

.zadP {
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	font-size: 18px;
	border-radius: 8px;
	padding: 0.25em 0.75em;
	background: rgba(256, 256, 256, 0.1);
	box-shadow: 5px 5px 5px rgba(73, 42, 80, 0.2);
	transition: all 0.5s ease-in-out;
	min-width: 18%;
	border: 3px solid rgba(256, 256, 256, 0.2);
	color: white;
	text-align: center;
	line-height: 1.1;
	font-size: 3ch;
}
.zadP:hover {
	box-shadow: 7px 7px 7px rgba(73, 42, 80, 0.3);
	background: rgba(256, 256, 256, 0.3);
}
.zadP.kod{
	min-width: 10%;
	background: linear-gradient(-45deg, #6fa3f1, #ec8fb3, #eca7ca, #acebc8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	display:none;
	animation: 0.2s ease appearFromRight;
}
@keyframes appearFromRight {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

.zadP:hover button{
	display:block;
	position: relative;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
