@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
* {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: #222;
}
footer {
	position: absolute;
	bottom: 5%;

	animation: wobble 15s ease-in-out infinite;
}
@keyframes wobble {
	0% {
		transform: rotate(1deg);
	}
	50% {
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(1deg);
	}
}
